.myclass{
    background-color :rgb(18, 75, 125);
    padding: 20px;
}

/*id = myhr 고유성, 한페이지에 한번만 사용
.#id는 .class 보다 우선순위 높음*/

#myhr{
    border: 1px solid #000;
    height: 2px;
    width : 50%;
    background-color: aquamarine;
}